# Setup

In [4]:
import pandas as pd
import numpy as np

testData = pd.DataFrame({'time': pd.Series(range(1000))/10, 'measurement': np.sin(2 * np.pi * pd.Series(range(1000))/10/1)})
testData.head(11)

    time   measurement
0    0.0  0.000000e+00
1    0.1  5.877853e-01
2    0.2  9.510565e-01
3    0.3  9.510565e-01
4    0.4  5.877853e-01
5    0.5  1.224647e-16
6    0.6 -5.877853e-01
7    0.7 -9.510565e-01
8    0.8 -9.510565e-01
9    0.9 -5.877853e-01
10   1.0 -2.449294e-16

In [20]:
list1 = [i for i in range(100)]
list2 = [i for i in range(1, 200, 2)]
sampleDfFromLists = pd.DataFrame({'col1': list1, 'col2': list2})
print(sampleDfFromLists.head())
print(sampleDfFromLists.tail())

   col1  col2
0     0     1
1     1     3
2     2     5
3     3     7
4     4     9
    col1  col2
95    95   191
96    96   193
97    97   195
98    98   197
99    99   199

In [21]:
sampleDfFromLists.index

RangeIndex(start=0, stop=100, step=1)

In [22]:
letters = pd.Series(map(chr, range(97, 122)))
letters = pd.DataFrame({'letter': (list(letters) + list(letters * 2) + list(letters * 3) + list(letters * 4))})
letters[21:29]

   letter
21      v
22      w
23      x
24      y
25     aa
26     bb
27     cc
28     dd

# Replacement

In [23]:
print(sampleDfFromLists.index)
sampleDfFromLists.set_index(keys = letters.iloc[:, 0], inplace = True)
print(sampleDfFromLists.index)

RangeIndex(start=0, stop=100, step=1)
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'aa', 'bb', 'cc',
       'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk', 'll', 'mm', 'nn', 'oo',
       'pp', 'qq', 'rr', 'ss', 'tt', 'uu', 'vv', 'ww', 'xx', 'yy', 'aaa',
       'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj', 'kkk',
       'lll', 'mmm', 'nnn', 'ooo', 'ppp', 'qqq', 'rrr', 'sss', 'ttt', 'uuu',
       'vvv', 'www', 'xxx', 'yyy', 'aaaa', 'bbbb', 'cccc', 'dddd', 'eeee',
       'ffff', 'gggg', 'hhhh', 'iiii', 'jjjj', 'kkkk', 'llll', 'mmmm', 'nnnn',
       'oooo', 'pppp', 'qqqq', 'rrrr', 'ssss', 'tttt', 'uuuu', 'vvvv', 'wwww',
       'xxxx', 'yyyy'],
      dtype='object', name='letter')

In [24]:
sampleDfFromLists.loc['uuuu':'yyyy', :]

        col1  col2
letter
uuuu      95   191
vvvv      96   193
wwww      97   195
xxxx      98   197
yyyy      99   199

# Cat and Dog

In [28]:
animalType = ['cat'] * 50 + ['dog'] * 50
print(animalType[:5], animalType[-5:])

['cat', 'cat', 'cat', 'cat', 'cat'] ['dog', 'dog', 'dog', 'dog', 'dog']

In [29]:
sampleDfFromLists['animal_type'] = animalType
sampleDfFromLists

        col1  col2 animal_type
letter
a          0     1         cat
b          1     3         cat
c          2     5         cat
d          3     7         cat
e          4     9         cat
...      ...   ...         ...
uuuu      95   191         dog
vvvv      96   193         dog
wwww      97   195         dog
xxxx      98   197         dog
yyyy      99   199         dog

[100 rows x 3 columns]

In [30]:
sampleDfFromLists.set_index('animal_type', inplace = True)
sampleDfFromLists

             col1  col2
animal_type
cat             0     1
cat             1     3
cat             2     5
cat             3     7
cat             4     9
...           ...   ...
dog            95   191
dog            96   193
dog            97   195
dog            98   197
dog            99   199

[100 rows x 2 columns]

In [31]:
print(sampleDfFromLists.columns)

Index(['col1', 'col2'], dtype='object')

In [32]:
sampleDfFromLists.columns = ['good', 'bad']
sampleDfFromLists.head()

             good  bad
animal_type
cat             0    1
cat             1    3
cat             2    5
cat             3    7
cat             4    9

In [33]:
sampleDfFromLists.loc['cat', :][:10]

             good  bad
animal_type
cat             0    1
cat             1    3
cat             2    5
cat             3    7
cat             4    9
cat             5   11
cat             6   13
cat             7   15
cat             8   17
cat             9   19

In [35]:
print('good cats', sampleDfFromLists.loc['cat', 'good'].sum())
print('good dogs', sampleDfFromLists.loc['dog', 'good'].sum())

good cats 1225
good dogs 3725